{% extends "includes/template.twig" %}
{% block navbar %}
	{{parent()}}
	{% if user %}
		<div class="btn-group dropstart ms-auto">
			<a type="button" class="text-decoration-none text-white h3 dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
				<i class="bi bi-person-circle"></i>
			</a>
			<ul class="dropdown-menu">
				<li class="nav-item ">
					<a class="nav-link text-dark" aria-current="page" href="{{url_for('pedidos')}}">Pedidos</a>
				</li>
				<li class="nav-item ">
					<a class="text-danger nav-link " aria-current="page" href="{{url_for('logout')}}">Sair</a>
				</li>
			</ul>
		</div>
	{% else %}
		<ul class="navbar-nav ms-auto">
			<li class="nav-item">
				<a class="nav-link active" aria-current="page" href="{{url_for('signin')}}">Entrar</a>
			</li>
		</ul>
	{% endif %}
{% endblock %}

{% block head %}
	{{parent()}}
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{% endblock %}
{% block title %}
	Lista
{% endblock %}
{% block main %}

	<div class="container-fluid my-5 pb-5">
		<div class="container">
			<div class="row g-3" id="list-car">
				{% if cars %}
					{% for car in cars %}
						<div class="col-12 col-sm-5 col-lg-3">
							<div class="card border-white" style="width: 15rem;">
								<div class="card-body">
									<h5 class="card-title">{{car.model}}</h5>
									<p class="card-text">
										<b>R$
										</b>
										{{car.price}}</p>
									<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#rent-car{{car.id}}">
										Alugar
									</button>
								</div>
							</div>
						</div>
						<div class="modal fade" id="rent-car{{car.id}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="rent-car{{car.id}}Label" aria-hidden="true">
							<div class="modal-dialog">
								<div class="modal-content">
									<div class="modal-header">
										<h5 class="modal-title" id="rent-car{{car.id}}Label">Continuar com o Aluguel</h5>
										<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
									</div>
									<form action="{{url_for('home')}}" method="post" autocomplete="off">
										<div class="modal-body">
											<div class="row g-3">
												<div class="col-12">
													<label for="model-car" class="col-form-label">Modelo:</label>
													<input name="model" type="text" class="form-control" id="model-car" value="{{car.model}}" disabled/>
												</div>
												<div class="col">
													<label for="price-car" class="col-form-label">Preço:</label>
													<input name="price" type="number" class="form-control" id="price-car" value="{{car.price}}" disabled/>
												</div>
												<div class="col">
													<label for="price-car" class="col-form-label">Ano:</label>
													<input name="year" type="text" class="form-control" id="price-car" value="{{car.year}}" disabled/>
												</div>
											</div>
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Cancelar</button>
											<button type="submit" name="id" value="{{car.id}}" class="btn btn-dark">Sim</button>
										</div>
									</form>
								</div>
							</div>
						</div>
					{% endfor %}

				{% endif %}
			</div>
		</div>
	</div>
{% endblock %}
