{% extends "includes/template.twig" %}
{% block navbar %}
	{{parent()}}
	{% if user %}
		<div class="btn-group dropstart ms-auto">
			<a type="button" class="text-decoration-none text-white h3 dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
				<i class="bi bi-person-circle"></i>
			</a>
			<ul class="dropdown-menu">
				<li class="nav-item ">
					<a class="nav-link text-dark" aria-current="page" href="{{url_for('home')}}">Pedidos</a>
				</li>
				<li class="nav-item ">
					<a class="text-danger nav-link " aria-current="page" href="{{url_for('logout')}}">Sair</a>
				</li>
			</ul>
		</div>
	{% else %}
		<ul class="navbar-nav ms-auto">
			<li class="nav-item">
				<a class="nav-link active" aria-current="page" href="{{url_for('signin')}}">Entrar</a>
			</li>
		</ul>
	{% endif %}
{% endblock %}

{% block head %}
	{{parent()}}
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{% endblock %}
{% block title %}
	Lista
{% endblock %}
{% block main %}

	<div class="container-fluid my-5 pb-5">
		<div class="container">
			{% if rents %}
				{% for rent in rents %}
					<div class="row my-5 justify-content-center" id="list-car">
						<div class="col-auto ">
							<div class="card text-center" style="width: 18rem">
								<div class="card-body">
									<div class="row g-1">
										<div class="col-12 text-start">
											<b>
												<high class="card-title">Pedido ID #{{rent.id}}</high>
											</b>
										</div>
										<div class="col-12 text-start">
											<p class="card-title">Data pedido:
												{{rent.date}}</p>
										</div>
										<div class="col-12 pb-1 text-start">
											<p class="card-text mb-2">Status:

												{% if rent.status == 1 %}
													<span class="bg-warning rounded p-1">Alugado</span>
												{% else %}
													<span class="bg-success rounded p-1">Devolvido</span>
												{% endif %}
											</p>
										</div>
									</div>
									<button type="button" class="btn text-light" data-bs-toggle="modal" data-bs-target="#rent-id{{rent.id}}" style="background-color: #21081a;">
										Detalhes
									</button>
								</div>
							</div>
						</div>
						<div class="modal fade" id="rent-id{{rent.id}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="rent-id{{rent.id}}Label" aria-hidden="true">
							<div class="modal-dialog">
								<div class="modal-content">
									<div class="modal-header">
										<h5 class="modal-title" id="rent-car{{rent.id}}Label">Continuar com o Aluguel</h5>
										<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
									</div>
									<form action="{{url_for('pedidos')}}" method="post" autocomplete="off">
										<div class="modal-body">
											<div class="row g-3">
												<div class="col-12">
													<label for="model-car" class="col-form-label">Modelo:</label>
													<input name="model" type="text" class="form-control" id="model-car" value="{{ rent.carmodel}}" disabled/>
												</div>
												<div class="col">
													<label for="price-car" class="col-form-label">Preço:</label>
													<input name="price" type="number" class="form-control" id="price-car" value="{{rent.carprice}}" disabled/>
												</div>
												<div class="col">
													<label for="price-car" class="col-form-label">Ano:</label>
													<input name="year" type="text" class="form-control" id="price-car" value="{{rent.caryear}}" disabled/>
												</div>
											</div>
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Cancelar</button>
											<button type="submit" name="id" value="{{rent.id}},{{rent.id_car}}" class="btn btn-dark">Devolver</button>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				{% endfor %}

			{% endif %}
		</div>
	</div>
{% endblock %}
